body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(252, 112, 254), rgb(255, 217, 0));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

img {
  height: 200px;
}

.header {
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Lilita One";
  font-size: 50px;
  letter-spacing: 2px;
  margin-left: 30px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.quote {
  max-width: 80%;
  font-size: 40px;
  text-align: center;
  font-family: Nunito;
}

button {
  font-family: "Lilita One";
  font-size: 20px;
  background-color: rgb(255, 199, 33);
  border: solid #000000;
  border-radius: 20px;
  padding: 5px;
}

.modal {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 199, 33);
  border: solid black 5px;
  border-radius: 20px;

  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -250px;
}

.hidden {
  display: none !important;
}

.close {
  z-index: 2;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  right: 0;
  margin: 5px;
}

.char-img {
  height: 400px;
  width: 400px;
  background-size: cover;
}

.char-name {
  font-size: 30px;
  font-family: "Lilita One";
}